@charset "UTF-8";

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
}

ol,
li,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 2;
}

textarea:focus,
button:focus,
input:focus,
a:focus {
  outline: none;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.ttf?20rdog") format("truetype"), url("../fonts/icons.woff?20rdog") format("woff"), url("../fonts/icons.svg?20rdog#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-watsApp .path1:before {
  content: "";
  color: #f2efeb;
}

._icon-watsApp .path2:before {
  content: "";
  margin-left: -1em;
  color: #1a1821;
}

._icon-menu-watsApp:before {
  content: "";
  color: #bba182;
}

._icon-telefon .path1:before {
  content: "";
  color: #f2efeb;
}

._icon-telefon .path2:before {
  content: "";
  margin-left: -1em;
  color: #1a1821;
}

._icon-footer-email:before {
  content: "";
  color: #bba182;
}

._icon-phone .path1:before {
  content: "";
  color: #bba182;
}

._icon-phone .path2:before {
  content: "";
  margin-left: -1em;
  color: black;
  opacity: 0.6;
}

._icon-pdf .path1:before {
  content: "";
  color: #f2efeb;
}

._icon-pdf .path2:before {
  content: "";
  margin-left: -1em;
  color: #1a1821;
}

._icon-pdf .path3:before {
  content: "";
  margin-left: -1em;
  color: #1a1821;
}

._icon-pdf .path4:before {
  content: "";
  margin-left: -1em;
  color: #1a1821;
}

._icon-pdf .path5:before {
  content: "";
  margin-left: -1em;
  color: #1a1821;
}

._icon-pdf .path6:before {
  content: "";
  margin-left: -1em;
  color: #1a1821;
}

._icon-calc .path1:before {
  content: "";
  color: #f2efeb;
}

._icon-calc .path2:before {
  content: "";
  margin-left: -1em;
  color: #1a1821;
}

._icon-calc .path3:before {
  content: "";
  margin-left: -1em;
  color: #1a1821;
}

._icon-calc .path4:before {
  content: "";
  margin-left: -1em;
  color: #1a1821;
}

._icon-calc .path5:before {
  content: "";
  margin-left: -1em;
  color: #1a1821;
}

._icon-footer-phone:before {
  content: "";
  color: #bba182;
}

body {
  font-size: 14px;
  font-family: "Dosis", sans-serif;
}

.wrapper {
  min-width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  /* HEADER ============================== */
}

.wrapper .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid grey;
}

.wrapper .header .header__container {
  max-width: 1818px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
  padding: 0 15px;
}

.wrapper .header .header__container .header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.wrapper .header .header__container .header__social .header__logo {
  display: none;
}

.wrapper .header .header__container .header__social .header__logo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .header .header__container .header__social .header__logo-content .logo__text {
  color: black;
  font-size: calc(15px + 9 * ((100vw - 320px) / 1600));
  margin: auto 25px;
}

.wrapper .header .header__container .header__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .header .header__container .header__social-list .text {
  font-size: calc(12px + 7 * ((100vw - 320px) / 1600));
}

.wrapper .header .header__container .header__social-list .social {
  font-size: 25px;
  color: #000;
}

.wrapper .header .header__container .header__social-sub-list {
  font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
}

.wrapper .header .header__container .header__social-sub-list a {
  color: #000;
}

.wrapper .header .header__container .header__social-sub-list .number {
  margin: 20px 0 0 0px;
}

.wrapper .header .menu__icon {
  display: none;
}

.wrapper .header .menu__body {
  z-index: 4;
}

.wrapper .header .menu__list .menu__sub-body {
  display: none;
}

.wrapper .header .menu__list > li {
  position: relative;
  margin: 0 0 0 20px;
}

.wrapper .header .animation {
  position: relative;
}

.wrapper .header .animation:hover:after,
.wrapper .header .animation:focus:after {
  width: 100%;
}

.wrapper .header .animation::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  background-color: #44c697;
  width: 0;
  height: 3px;
  -webkit-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.wrapper .header .active {
  border-bottom: 3px solid #44c697;
}

.wrapper .header .active:hover {
  color: #44c697;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.wrapper .header .menu__link {
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  font-weight: 700;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  -webkit-transition: 1.3s;
  -o-transition: 1.3s;
  transition: 1.3s;
}

.wrapper .main .bar__menu {
  width: 100%;
  background-color: #fff;
  margin-top: 60px;
}

.wrapper .main .bar__menu .bar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 1870px;
  height: 105px;
  max-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.wrapper .main .bar__menu .bar__container .container__menu .menu__icon {
  display: none;
}

.wrapper .main .bar__menu .bar__container .container__menu .menu__list > li {
  position: relative;
  margin: 0 0 0 20px;
}

.wrapper .main .bar__menu .bar__container .container__menu .menu__list > li:first-child {
  margin: 0;
}

.wrapper .main .bar__menu .bar__container .container__menu .menu__link {
  color: #000;
  font-size: calc(10px + 8 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  font-family: "Cuprum";
  font-weight: 700;
  letter-spacing: 0.5px;
}

.wrapper .main .bar__menu .bar__container .container__menu .menu__sub-list {
  color: #fff;
  position: absolute;
  top: 100%;
  right: 10;
  background: black;
  border-radius: 15px;
  padding: 15px;
  min-width: 200px;
  text-transform: uppercase;
  font-family: "Cuprum";
  letter-spacing: 1px;
  font-weight: 700;
  z-index: 2;
}

.wrapper .main .bar__menu .bar__container .container__menu .menu__sub-list > li {
  margin: 0 0 10px 0;
}

.wrapper .main .bar__menu .bar__container .container__menu .menu__sub-list li:last-child {
  margin: 0;
}

.wrapper .main .bar__menu .bar__container .container__menu .menu__sub-link {
  color: #fff;
}

.wrapper .main .bar__menu .bar__container .container__menu .menu__sub-link:hover {
  text-decoration: underline;
}

.wrapper .main .bar__menu .bar__container .container__menu .menu__arrow {
  display: none;
}

.wrapper .main .bar__menu .bar__container .container__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .bar__menu .bar__container .container__logo .logo-text {
  font-size: calc(24px + 12 * ((100vw - 320px) / 1600));
  font-weight: 700;
  cursor: pointer;
  margin: 0 0 0 10px;
  color: black;
}

.wrapper .main .bar__menu .bar__container .container__logo .logo-text span {
  color: #44c697;
}

.wrapper .main .bar__menu .bar__container .container__basket .basket__text {
  text-transform: uppercase;
  color: black;
  font-size: calc(10px + 8 * ((100vw - 320px) / 1600));
  font-weight: 700;
}

.wrapper .main .bar__menu .bar__container .container__basket ._icon-basket {
  color: black;
  font-size: calc(12px + 12 * ((100vw - 320px) / 1600));
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  padding: 10px 0 0 0;
}

.wrapper .main .bar__menu .bar__container .container__basket .btn {
  font-size: calc(10px + 8 * ((100vw - 320px) / 1600));
  font-weight: 700;
  border-radius: 7px;
  background-color: #44c697;
  padding: 12px 46px 12px 46px;
  margin: 0px 0px 0px 20px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  color: white;
  border: 2px solid #44c697;
}

.wrapper .main .bar__menu .bar__container .container__basket .btn:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
  color: #44c697;
}

.wrapper .main .slider {
  background: url(../img/ornella.png);
  width: 100%;
  max-width: 1920px;
  height: 785px;
  position: relative;
}

.wrapper .main .slider .slider__container {
  position: absolute;
  top: 0;
  left: 50px;
  width: 100%;
  max-width: 462px;
  height: 670px;
  background-color: #fff;
}

.wrapper .main .slider .slider__container .left-liner {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 670px;
  background-color: #44c697;
}

.wrapper .main .slider .slider__container .image-slider {
  text-align: center;
  height: 500px;
}

.wrapper .main .slider .slider__container .image-slider .image-slider__wrapper .image-slider__slide .text-logo {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 25px;
}

.wrapper .main .slider .slider__container .image-slider .image-slider__wrapper .image-slider__slide .sub-logo {
  font-size: calc(24px + 12 * ((100vw - 320px) / 1600));
  font-weight: 700;
  margin-bottom: 25px;
}

.wrapper .main .slider .slider__container .image-slider .image-slider__wrapper .image-slider__slide .sub-text {
  font-size: calc(24px + 12 * ((100vw - 320px) / 1600));
  font-weight: 400;
  margin-bottom: 25px;
}

.wrapper .main .slider .slider__container .image-slider .image-slider__wrapper .image-slider__slide .btn-detal {
  font-size: calc(10px + 8 * ((100vw - 320px) / 1600));
  font-weight: 700;
  border-radius: 7px;
  background-color: #44c697;
  padding: 12px 46px 12px 46px;
  margin: 0px 0px 0px 20px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  color: white;
  border: 2px solid #44c697;
}

.wrapper .main .slider .slider__container .image-slider .image-slider__wrapper .image-slider__slide .btn-detal:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
  color: #44c697;
}

.wrapper .main .slider .slider__container .image-slider .swiper-button-prev {
  background-color: #000;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: #fff;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  border: 2px solid #000;
  top: 475px;
  left: 195px;
}

.wrapper .main .slider .slider__container .image-slider .swiper-button-prev::after {
  font-size: calc(9px + 7 * ((100vw - 320px) / 1600));
}

.wrapper .main .slider .slider__container .image-slider .swiper-button-next {
  background-color: #000;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: #fff;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  border: 2px solid #000;
  top: 475px;
  right: 195px;
}

.wrapper .main .slider .slider__container .image-slider .swiper-button-next::after {
  font-size: calc(7px + 5 * ((100vw - 320px) / 1600));
}

.wrapper .main .slider .slider__container .image-slider .swiper-button-disabled {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  opacity: 100;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.wrapper .main .slider .slider__container .image-slider .swiper-pagination {
  font-size: calc(19px + 11 * ((100vw - 320px) / 1600));
  color: #000;
  font-weight: 700;
  bottom: 60px;
}

.wrapper .main .slider .slider__container .image-slider .swiper-pagination .swiper-pagination-current {
  font-size: calc(24px + 11 * ((100vw - 320px) / 1600));
}

.wrapper .main .advantages {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper .main .advantages .advantages__logo {
  text-align: center;
  margin: 4% 0 4% 0;
}

.wrapper .main .advantages .advantages__logo-text {
  font-size: calc(30px + 18 * ((100vw - 320px) / 1600));
}

.wrapper .main .advantages .advantages__logo-text span {
  position: relative;
  display: inline;
}

.wrapper .main .advantages .advantages__logo-text span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #44c697;
  width: 20px;
  height: 100%;
  display: inline-block;
}

.wrapper .main .advantages .advantages__slider {
  width: 100%;
  max-width: 1818px;
  margin: 0 auto;
}

.wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide {
  padding: 0 10px 0 10px;
}

.wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide .advantages-slider__item {
  width: 100%;
  max-width: 586px;
  height: 350px;
  color: #fff;
  position: relative;
}

.wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide .advantages-slider__item .slider-spoiler__item {
  position: absolute;
  bottom: 50px;
  left: 20px;
}

.wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide .advantages-slider__item .slider-spoiler__item .spoiler__title-slider {
  padding: 20px 0px 10px 0;
  font-size: 22px;
  font-weight: 700;
  border-bottom: 4px solid #44c697;
  display: inline-block;
}

.wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide .advantages-slider__item .slider-spoiler__item .spoiler__title-slider h2 {
  min-width: 240px;
  max-width: 380px;
}

.wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide .advantages-slider__item .slider-spoiler__item .spoiler__info {
  display: none;
  max-width: 500px;
  font-size: calc(8px + 6 * ((100vw - 320px) / 1600));
}

.wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide .-one {
  background: url(../img/slide__one.png) center;
  background-size: cover;
}

.wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide .-two {
  background: url(../img/slide__two.png) center;
  background-size: cover;
}

.wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide .-three {
  background: url(../img/slide__three.png) center;
  background-size: cover;
}

.wrapper .main .advantages .advantages__slider .advantages-slider .swiper-button-prev {
  background-color: #fff;
  color: #000;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 175;
  left: 20px;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.wrapper .main .advantages .advantages__slider .advantages-slider .swiper-button-prev::after {
  font-size: calc(9px + 7 * ((100vw - 320px) / 1600));
}

.wrapper .main .advantages .advantages__slider .advantages-slider .swiper-button-next {
  background-color: #fff;
  color: #000;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 175px;
  right: 20px;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.wrapper .main .advantages .advantages__slider .advantages-slider .swiper-button-next::after {
  font-size: calc(7px + 5 * ((100vw - 320px) / 1600));
}

.wrapper .main .advantages .advantages__slider .advantages-slider .swiper-button-disabled {
  background: none;
  color: #fff;
  border: 2px solid #fff;
  opacity: 100;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.wrapper .main .category {
  max-width: 1818px;
  margin: 0 auto;
  width: 100%;
  height: 1208px;
  position: relative;
}

.wrapper .main .category .category__logo {
  text-align: center;
  margin: 4% 0 4% 0;
}

.wrapper .main .category .category__logo-text {
  font-size: 48px;
}

.wrapper .main .category .category__logo-text span {
  position: relative;
  display: inline;
}

.wrapper .main .category .category__logo-text span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #44c697;
  width: 20px;
  height: 100%;
  display: inline-block;
}

.wrapper .main .category .category__icon {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .main .category .category__icon .category__item {
  color: black;
}

.wrapper .main .category .category__icon .category__item .active__item {
  position: relative;
}

.wrapper .main .category .category__icon .category__item .active__item::after {
  content: "";
  background-color: #44c697;
  height: 3px;
  position: absolute;
  width: 60%;
  bottom: -3px;
  left: 20%;
}

.wrapper .main .category .category__icon .category__item .sub__text-item {
  text-align: center;
  text-transform: uppercase;
}

.wrapper .main .category .category__shop {
  margin: 7% 0 0 0;
}

.wrapper .main .category .category__shop-element {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
  padding: 0 15px 0 15px;
}

.wrapper .main .category .category__shop-element .element__wrapper {
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  background-size: cover;
}

.wrapper .main .category .category__shop-element .element__wrapper:hover {
  background-color: #44c697;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0 0 10px 10px;
  margin: -15px 0 15px 0;
}

.wrapper .main .category .category__shop-element .element__wrapper-item {
  width: 100%;
  max-width: 586px;
  height: 300px;
}

.wrapper .main .category .category__shop-element .element__wrapper-text {
  padding: 10px;
  text-transform: uppercase;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
}

.wrapper .main .category .category__shop-element .element__wrapper-text .text__hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.wrapper .main .category .category__shop-element .element__wrapper-text .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .category .category__shop-element .element__wrapper-text .price .text__price {
  color: red;
  font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
}

.wrapper .main .category .category__shop-element .element__wrapper-text .price .discount__price {
  color: grey;
  text-decoration: line-through;
  padding: 5px 0 0 10px;
  font-size: calc(8px + 6 * ((100vw - 320px) / 1600));
}

.wrapper .main .category .category__shop-element .element__wrapper-text .price .text__hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.wrapper .main .category .category__shop-element .element__wrapper .new-product {
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  position: absolute;
  top: 25px;
  text-transform: uppercase;
}

.wrapper .main .category .category__shop-element .element__wrapper .hit-product {
  background-color: red;
  color: #fff;
  padding: 10px 15px;
  position: absolute;
  top: 75px;
  text-transform: uppercase;
}

.wrapper .main .category .category__shop-element .element__wrapper .promotion-product {
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  position: absolute;
  top: 25px;
  text-transform: uppercase;
}

.wrapper .main .category .category__shop-element .element__wrapper-one {
  background: url(../img/shop__item-one.png) center;
  background-size: cover;
}

.wrapper .main .category .category__shop-element .element__wrapper-two {
  background: url(../img/shop__item-two.png) center;
  background-size: cover;
}

.wrapper .main .category .category__shop-element .element__wrapper-three {
  background: url(../img/shop__item-three.png) center;
  background-size: cover;
}

.wrapper .main .category .category__shop-element .element__wrapper-four {
  background: url(../img/shop__item-four.png) center;
  background-size: cover;
}

.wrapper .main .category .category__shop-element .element__wrapper-five {
  background: url(../img/shop__item-five.png) center;
  background-size: cover;
}

.wrapper .main .category .category__shop-element .element__wrapper-six {
  background: url(../img/shop__item-six.png) center;
  background-size: cover;
}

.wrapper .main .category .category__btn .category__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0 0 0;
}

.wrapper .main .category .category__btn .category__btn-wrapper .btn {
  border-radius: 5px;
  padding: 15px 25px 15px 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
  background-color: #44c697;
  border: 2px solid #44c697;
  top: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 10px 0 0 0;
}

.wrapper .main .category .category__btn .category__btn-wrapper .btn:hover {
  margin: -5px 0 0 0;
  background-color: #fff;
  color: #44c697;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .main .about {
  height: 785px;
}

.wrapper .main .about .about__logo {
  text-align: center;
  margin: 4% 0 4% 0;
}

.wrapper .main .about .about__logo-text {
  font-size: calc(30px + 18 * ((100vw - 320px) / 1600));
}

.wrapper .main .about .about__logo-text span {
  position: relative;
  display: inline;
}

.wrapper .main .about .about__logo-text span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #44c697;
  width: 20px;
  height: 100%;
  display: inline-block;
}

.wrapper .main .about .about__wrapper {
  position: relative;
}

.wrapper .main .about .about__wrapper-photo {
  position: absolute;
  right: 0;
}

.wrapper .main .about .about__information {
  position: relative;
  width: 100%;
  max-width: 791px;
  height: 475px;
  background-color: #fff;
  top: 100px;
  left: 51px;
}

.wrapper .main .about .about__information-body {
  position: absolute;
}

.wrapper .main .about .about__information-body .right-liner {
  position: absolute;
  width: 15px;
  height: 475px;
  background-color: #44c697;
  right: 0;
}

.wrapper .main .about .about__information-body p {
  display: inline-block;
  width: 710px;
  font-family: "Dosis";
  font-weight: 500;
  font-size: calc(10px + 10 * ((100vw - 320px) / 1600));
  padding: 25px 0 10px 0;
}

.wrapper .main .about .about__information-body p .about__paragraph {
  text-transform: uppercase;
  color: #44c697;
}

.wrapper .main .question {
  height: 785px;
  position: relative;
}

.wrapper .main .question .question__logo {
  text-align: center;
  margin: 4% 0 4% 0;
}

.wrapper .main .question .question__logo-text {
  font-size: calc(32px + 16 * ((100vw - 320px) / 1600));
}

.wrapper .main .question .question__logo-text span {
  position: relative;
  display: inline;
}

.wrapper .main .question .question__logo-text span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #44c697;
  width: 20px;
  height: 100%;
  display: inline-block;
}

.wrapper .main .question .question__information-body {
  position: absolute;
  top: 250px;
  right: 0;
  background-color: #fff;
  width: 513px;
  height: 457px;
}

.wrapper .main .question .question__information-body .left-liner {
  width: 15px;
  height: 457px;
  background-color: #44c697;
  position: absolute;
}

.wrapper .main .question .question__information-body .question__information-logo {
  font-size: 30px;
  padding: 25px 0 0 0px;
  text-align: center;
}

.wrapper .main .question .question__information-body .question__forma {
  padding: 10px 0 0 0;
}

.wrapper .main .question .question__information-body .question__forma form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 30px;
}

.wrapper .main .question .question__information-body .question__forma .question__input {
  padding: 20px 15px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 5px;
  font-size: calc(10px + 8 * ((100vw - 320px) / 1600));
}

.wrapper .main .question .question__information-body .question__forma .question__btn {
  text-transform: uppercase;
  font-size: calc(15px + 9 * ((100vw - 320px) / 1600));
  background-color: #44c697;
  padding: 20px 25px;
  border: 2px solid #44c697;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  font-family: "Cuprum";
  letter-spacing: 2px;
  font-weight: 700;
}

.wrapper .main .question .question__information-body .question__forma .question__btn:hover {
  color: #44c697;
  background-color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.wrapper .main .question .question__information-body .sub__text {
  width: 395px;
  font-size: calc(10px + 8 * ((100vw - 320px) / 1600));
  padding: 0 0 0 40px;
}

.wrapper .main .question .question__information-body .sub__text .question__phone {
  color: #000;
  font-family: "Cuprum";
  font-weight: 700;
}

.wrapper .footer {
  margin-top: 5%;
}

.wrapper .footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .footer .footer__content .footer__wrapper {
  background-color: #1e2e36;
  padding: 50px 0 0 51px;
  width: 45%;
  height: 510px;
}

.wrapper .footer .footer__content .footer__wrapper .footer__logo .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .footer .footer__content .footer__wrapper .footer__logo .footer__container .sub__img-text {
  font-size: calc(24px + 12 * ((100vw - 320px) / 1600));
  font-weight: 700;
  cursor: pointer;
  margin: 0 0 0 10px;
  color: #fff;
}

.wrapper .footer .footer__content .footer__wrapper .footer__logo .footer__container .sub__img-text span {
  color: #44c697;
}

.wrapper .footer .footer__content .footer__wrapper .footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .footer .footer__content .footer__wrapper .footer__main-column {
  padding: 20px;
}

.wrapper .footer .footer__content .footer__wrapper .footer__main-column .column__one li {
  color: #fff;
  font-weight: 700;
  font-family: "Cuprum";
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1600));
  padding: 10px 0 10px 0;
}

.wrapper .footer .footer__content .footer__wrapper .footer__main-column .column__one li::before {
  content: "";
  position: absolute;
  background-color: #44c697;
  width: 20px;
  height: 3px;
  top: 40%;
  left: -25px;
}

.wrapper .footer .footer__content .footer__wrapper .footer__main-column .column__two li {
  color: #fff;
  padding: 10px 0 10px 0;
  font-weight: 700;
}

.wrapper .footer .footer__content .footer__wrapper .footer__main-column .column__two .info {
  text-transform: uppercase;
}

.wrapper .footer .footer__content .footer__wrapper .footer__main-column .column__two .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .footer .footer__content .footer__wrapper .footer__main-column .column__two .phone .number__phone {
  padding: 10px 0 0 0;
  color: #44c697;
  font-family: "Cuprum";
  font-weight: 400;
}

.wrapper .footer .footer__content .footer__wrapper .footer__main-column .column__two .social__link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .footer .footer__content .footer__wrapper .footer__main-column .column__two .social__link-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .footer .footer__content .footer__wrapper .footer__main-column .column__two .social__link-list ul .icon__font {
  font-size: calc(20px + 15 * ((100vw - 320px) / 1600));
}

.wrapper .footer .footer__content .footer__body {
  height: 510px;
  width: 55%;
  background: url(../img/footer__background.png) center no-repeat;
}

/* PC============================== */

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

/* TOUCH ============================== */

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: -1.5% 0 0 100%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}

body._touch .menu__sub-body._active .menu__arrow-two {
  display: block;
}

body._touch .menu__arrow-two {
  display: none;
  width: 0;
  height: 0;
  padding: 10px 0 0 0;
  top: 25px;
  left: 20px;
  position: absolute;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #a3a3a3;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

body._lock {
  overflow: hidden;
}

@font-face {
  font-family: "icons";
  src: url("fonts/icons.eot?vrju1o");
  src: url("fonts/icons.eot?vrju1o#iefix") format("embedded-opentype"), url("..fonts/icons.ttf?vrju1o") format("truetype"), url("..fonts/icons.woff?vrju1o") format("woff"), url("..fonts/icons.svg?vrju1o#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-telegram:before {
  content: "";
}

._icon-facebook:before {
  content: "";
}

._icon-instagram:before {
  content: "";
}

._icon-phone:before {
  content: "";
}

._icon-check-mark:before {
  content: "";
}

._icon-basket:before {
  content: "";
}

@media (min-width: 999.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .menu__list > li {
    padding: 10px 0;
  }

  .menu__sub-list {
    -webkit-transform: translate(0px, 10%);
        -ms-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 1799.98px) {
  .wrapper .main .question .question__wrapper-photo {
    max-width: 1800px;
    min-width: 320px;
    width: 100%;
  }

  .wrapper .footer {
    margin-top: 10%;
  }
}

@media (max-width: 1399.98px) {
  .wrapper .main .slider .slider__container {
    height: 570px;
  }

  .wrapper .main .slider .slider__container .left-liner {
    height: 570px;
  }

  .wrapper .main .slider .slider__container .image-slider .image-slider__wrapper .image-slider__slide .text-logo {
    margin-top: 25px;
  }

  .wrapper .main .slider .slider__container .image-slider .image-slider__wrapper .image-slider__slide .sub-text {
    width: 300px;
    margin: 0 auto;
    padding: 0 0 50px 0;
  }

  .wrapper .main .about .about__information {
    left: 0;
    top: 270px;
    height: 375px;
  }

  .wrapper .main .about .about__information .right-liner {
    height: 375px;
  }

  .wrapper .main .question .question__information .question__information-body {
    top: 200px;
  }

  .wrapper .footer {
    margin-top: 5%;
  }
}

@media (max-width: 1299.98px) {
  .wrapper .main .about .about__information {
    top: 200px;
  }

  .wrapper .main .question .question__information .question__information-body {
    top: 140px;
  }
}

@media (max-width: 1199.98px) {
  .wrapper .main .category {
    height: 1550px;
  }

  .wrapper .main .category .category__shop-element {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .wrapper .main .question .question__information .question__information-body {
    top: 100px;
    height: 400px;
    width: 500px;
  }

  .wrapper .main .question .question__information .question__information-body .left-liner {
    height: 400px;
  }

  .wrapper .footer {
    margin-top: -5%;
  }
}

@media (max-width: 1099.98px) {
  .wrapper .main .bar__container .container__logo .logo-photo .logo-img {
    width: 100%;
    max-width: 80px;
  }

  .wrapper .main .question {
    height: 700px;
  }

  .wrapper .footer .footer__content .footer__wrapper {
    width: 100%;
    height: 360px;
    padding: 10px 0 0 0;
  }

  .wrapper .footer .footer__content .footer__wrapper .footer__logo .footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrapper .footer .footer__content .footer__wrapper .footer__main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 0 75px;
    height: 200px;
  }

  .wrapper .footer .footer__content .footer__body {
    display: none;
  }
}

@media (max-width: 999.98px) {
  .wrapper .header .header__container {
    min-height: 70px;
    /*Если сделать ниже 70px не будет показывать нижнюю полоску*/
  }

  .wrapper .header .header__container .header__social {
    margin: 0 0 0 20px;
  }

  .wrapper .header .header__container .header__social .header__logo {
    display: block;
  }

  .wrapper .header .header__container .header__social .header__logo img {
    max-width: 60px;
    width: 100%;
    height: 40px;
  }

  .wrapper .header .header__container .header__social .header__social-list {
    display: none;
  }

  .wrapper .header .header__container .header__social .header__social-sub-list {
    display: none;
  }

  .wrapper .header .header__container .header__menu .menu__body .menu__list .menu__link {
    color: #fff;
  }

  .wrapper .header .header__container .header__menu .menu__body .menu__list .active {
    border: none;
  }

  .wrapper .header .header__container .header__menu .menu__body .menu__list .animation::after {
    display: none;
  }

  .wrapper .header .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    margin: 0 20px 0 0;
  }

  .wrapper .header .menu__icon span,
  .wrapper .header .menu__icon::after,
  .wrapper .header .menu__icon::before {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }

  .wrapper .header .menu__icon::after,
  .wrapper .header .menu__icon::before {
    content: "";
  }

  .wrapper .header .menu__icon::before {
    top: 0;
  }

  .wrapper .header .menu__icon::after {
    bottom: 0;
  }

  .wrapper .header .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .wrapper .header .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .wrapper .header .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .wrapper .header .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .wrapper .header .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    /* transform: translate(-100%,0px); */
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .wrapper .header .menu__body._active {
    /* transform: translate(0px, 0px); */
    left: 0;
  }

  .wrapper .header .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #fff;
    z-index: 2;
  }

  .wrapper .header .menu__list .menu__sub-body {
    display: block;
  }

  .wrapper .header .menu__list .menu__sub-body ._icon-basket {
    color: #fff;
    font-size: 25px;
  }

  .wrapper .header .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 30px 0;
  }

  .wrapper .header .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .wrapper .header .menu__list > li._active .menu__sub-list {
    display: block;
  }

  .wrapper .header .menu__link {
    font-size: 24px;
  }

  .wrapper .header .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    /* transform: translate(-100%,0px); */
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .wrapper .header .menu__body._active {
    /* transform: translate(0px, 0px); */
    left: 0;
  }

  .wrapper .header .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 30px 0;
  }

  .wrapper .header .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .wrapper .header .menu__list > li._active .menu__sub-list {
    display: block;
  }

  .wrapper .header .menu__link {
    font-size: 24px;
  }

  .wrapper .header .menu__sub-list {
    position: relative;
    background-color: #a3a3a3;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0 0 0;
    display: none;
    border-radius: 15px;
  }

  .wrapper .header .menu__sub-list li {
    padding: 10px;
    font-family: "Cuprum";
  }

  .wrapper .header .menu__sub-link {
    text-transform: uppercase;
    font-size: 22px;
    color: #000;
  }

  .wrapper .main .bar__menu .bar__container {
    display: none;
  }

  .wrapper .main .about .about__information {
    height: 275px;
    top: 375px;
  }

  .wrapper .main .about .about__information-body .right-liner {
    height: 275px;
  }

  .wrapper .main .question .question__information .question__information-body {
    height: 300px;
  }

  .wrapper .main .question .question__information .question__information-body .left-liner {
    height: 300px;
  }

  .wrapper .main .question .question__information .question__information-body .question__forma form {
    padding: 0px 30px 5px 30px;
  }

  .wrapper .main .question .question__information .question__information-body .question__forma form .question__input {
    padding: 15px 10px;
    margin: 5px 30px;
  }

  .wrapper .main .question .question__information .question__information-body .question__forma form .question__btn {
    padding: 10px;
    margin: 5px 30px 0px 30px;
  }

  .wrapper .main .question .question__information .question__information-body .sub__text {
    padding: 0 0 0 60px;
  }
}

@media (max-width: 899.98px) {
  .wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide .advantages-slider__item .slider-spoiler__item .spoiler__info {
    font-size: 16px;
  }

  .wrapper .main .advantages .advantages__slider .advantages-slider .swiper-button-prev {
    background-color: #000;
    color: #fff;
  }

  .wrapper .main .advantages .advantages__slider .advantages-slider .swiper-button-next {
    background-color: #000;
    color: #fff;
  }

  .wrapper .main .advantages .advantages__slider .advantages-slider .swiper-button-disabled {
    background-color: grey;
    color: #000;
  }

  .wrapper .main .category {
    height: 2600px;
  }

  .wrapper .main .category .category__icon {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .wrapper .main .category .category__icon .category__item {
    text-align: center;
    padding: 10px;
  }

  .wrapper .main .category .category__icon .category__item img {
    width: 60px;
    height: 60px;
  }

  .wrapper .main .category .category__icon .category__item .active__item::after {
    width: 30%;
    left: 35%;
    bottom: -4px;
  }

  .wrapper .main .category .category__shop {
    margin: 3% 0 0 0;
  }

  .wrapper .main .category .category__shop-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper .main .category .category__shop-element .element__wrapper-item {
    width: 586px;
  }
}

@media (max-width: 799.98px) {
  .wrapper .main .about .about__information {
    max-width: 500px;
    width: 100%;
    height: 300px;
    top: 225px;
  }

  .wrapper .main .about .about__information-body {
    width: 500px;
  }

  .wrapper .main .about .about__information-body .right-liner {
    height: 300px;
  }

  .wrapper .main .about .about__information-body p {
    padding: 10px;
    width: 480px;
  }
}

@media (max-width: 767.98px) {
  .wrapper .main .about {
    height: 400px;
  }

  .wrapper .main .about .about__wrapper {
    display: none;
  }

  .wrapper .main .about .about__information {
    position: static;
    height: 250px;
    margin: 0 auto;
  }

  .wrapper .main .about .about__information .about__information-body {
    border: 15px solid #44c697;
    border-radius: 10px;
  }

  .wrapper .main .about .about__information .about__information-body .right-liner {
    display: none;
  }

  .wrapper .main .about .about__information .about__information-body p {
    padding: 5px 20px 5px 20px;
    text-align: center;
  }

  .wrapper .main .question {
    height: 500px;
  }

  .wrapper .main .question .question__wrapper picture .question__wrapper-photo {
    display: none;
  }

  .wrapper .main .question .question__information {
    border: 15px solid #44c697;
    border-radius: 10px;
    margin: 50px;
  }

  .wrapper .main .question .question__information .question__information-body {
    height: 250px;
    width: 470px;
    position: static;
    margin: 0 auto;
  }

  .wrapper .main .question .question__information .question__information-body .question__forma form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header content" "footer footer";
  }

  .wrapper .main .question .question__information .question__information-body .question__forma form .question__input {
    margin: 0;
    padding: 5px 5px;
    font-size: 20px;
    width: 200px;
  }

  .wrapper .main .question .question__information .question__information-body .question__forma form .question__input:nth-child(1) {
    margin: 5px 5px 0px 0px;
  }

  .wrapper .main .question .question__information .question__information-body .question__forma form .question__input:nth-child(2) {
    margin: 5px 0px 0px 5px;
  }

  .wrapper .main .question .question__information .question__information-body .question__forma form .question__btn {
    margin: 5px 0 0 0;
  }

  .wrapper .main .question .question__information .question__information-body .question__forma form .grid-one {
    grid-area: header;
  }

  .wrapper .main .question .question__information .question__information-body .question__forma form .grid-two {
    grid-area: content;
  }

  .wrapper .main .question .question__information .question__information-body .question__forma form .grid-three {
    grid-area: footer;
  }

  .wrapper .main .question .question__information .question__information-body .left-liner {
    height: 250px;
    display: none;
  }

  .wrapper .main .question .question__information .question__information-body .question__information-logo {
    max-width: 250px;
    margin: 0 auto;
    padding: 10px 0 0 0;
    text-align: center;
  }

  .wrapper .main .question .question__information .question__information-body .sub__text {
    margin: 0 auto;
    padding: 0 0 0 0;
    max-width: 375px;
    font-size: 12px;
    text-align: center;
  }
}

@media (max-width: 619.98px) {
  body.webp .wrapper .main .slider {
    background-size: cover;
  }

  .wrapper .main .slider {
    height: 550px;
    padding: 30px 0 0 0;
  }

  .wrapper .main .slider .slider__container {
    height: 100%;
    max-height: 500px;
    min-height: 400px;
    max-width: 500px;
    min-width: 280px;
    border: 5px solid #44c697;
    border-radius: 5px;
    margin: 0 auto;
    position: static;
    border-radius: 20%;
  }

  .wrapper .main .slider .slider__container .left-liner {
    display: none;
  }

  .wrapper .main .slider .slider__container .image-slider {
    width: 100%;
    max-width: 300px;
    border-radius: 20%;
  }

  .wrapper .main .slider .slider__container .image-slider .image-slider__wrapper {
    width: 100%;
    max-width: 300px;
  }

  .wrapper .main .slider .slider__container .image-slider .image-slider__wrapper .image-slider__slide {
    width: 100%;
    max-width: 300px;
  }

  .wrapper .main .slider .slider__container .image-slider .image-slider__wrapper .image-slider__slide .text-logo {
    font-size: 42px;
  }

  .wrapper .main .slider .slider__container .image-slider .image-slider__wrapper .image-slider__slide .btn-detal {
    margin: 0;
  }

  .wrapper .main .slider .slider__container .image-slider .swiper-button-prev {
    left: 50px;
  }

  .wrapper .main .slider .slider__container .image-slider .swiper-button-next {
    right: 50px;
  }

  .wrapper .main .about {
    height: 450px;
  }

  .wrapper .main .about .about__information {
    margin: 0;
    max-width: 620px;
    width: 100%;
  }

  .wrapper .main .about .about__information .about__information-body {
    height: 325px;
    max-width: 620px;
    width: 100%;
  }

  .wrapper .main .about .about__information .about__information-body p {
    font-size: 15px;
    line-height: 15px;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
  }

  .wrapper .main .question {
    height: 600px;
  }

  .wrapper .main .question .question__information {
    margin: 0;
  }

  .wrapper .main .question .question__information .question__information-body {
    max-width: 620px;
    width: 100%;
    min-width: 280px;
    height: 350px;
  }

  .wrapper .main .question .question__information .question__information-body .question__forma form {
    padding: 5px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 280px;
  }

  .wrapper .main .question .question__information .question__information-body .question__forma form .question__input {
    width: 280px;
    padding: 10px 15px 10px 15px;
  }

  .wrapper .main .question .question__information .question__information-body .question__forma form .question__input:nth-child(1) {
    margin: 0 0 5px 0;
  }

  .wrapper .main .question .question__information .question__information-body .question__forma form .question__input:nth-child(2) {
    margin: 5px 0 0 0;
  }

  .wrapper .main .question .question__information .question__information-body .question__forma form .question__btn {
    width: 280px;
  }

  .wrapper .main .question .question__information .question__information-body .sub__text {
    padding: 10px;
    max-width: 240px;
    font-size: 14px;
  }
}

@media (max-width: 599.98px) {
  .wrapper .main .category {
    height: 2300px;
  }

  .wrapper .main .category .category__shop .category__shop-element .element__wrapper .element__wrapper-item {
    width: 450px;
    height: 260px;
  }

  .wrapper .main .about .about__information {
    top: 350px;
  }
}

@media (max-width: 499.98px) {
  .wrapper .main .category {
    height: 1950px;
  }

  .wrapper .main .category .category__shop .category__shop-element .element__wrapper .element__wrapper-text {
    font-size: 12px;
  }

  .wrapper .main .category .category__shop .category__shop-element .element__wrapper .element__wrapper-text .discount__price {
    font-size: 12px;
    padding: 0 0 0 5px;
  }

  .wrapper .main .category .category__shop .category__shop-element .element__wrapper .element__wrapper-item {
    width: 290px;
    height: 200px;
    background-size: cover;
  }

  .wrapper .main .category .category__shop .category__shop-element .element__wrapper .element__wrapper-item .new .new-product {
    font-size: 14px;
  }

  .wrapper .main .category .category__shop .category__shop-element .element__wrapper .new .new-product {
    font-size: 14px;
  }

  .wrapper .main .category .category__shop .category__shop-element .element__wrapper .hit .hit-product {
    font-size: 14px;
  }

  .wrapper .main .category .category__shop .category__shop-element .element__wrapper .promotion .promotion-product {
    font-size: 14px;
  }

  .wrapper .main .about {
    height: 600px;
  }

  .wrapper .main .about .about__information .about__information-body {
    height: 500px;
  }

  .wrapper .main .about .about__information .about__information-body p {
    font-size: 14px;
  }

  .wrapper .footer .footer__content .footer__wrapper {
    height: 580px;
  }

  .wrapper .footer .footer__content .footer__wrapper .footer__main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header content" "footer footer";
    padding: 0 0 0 0;
  }

  .wrapper .footer .footer__content .footer__wrapper .footer__main .grid-four {
    grid-area: header;
    padding: 0 0 0 50px;
  }

  .wrapper .footer .footer__content .footer__wrapper .footer__main .grid-five {
    grid-area: content;
    padding: 0 0 0 50px;
  }

  .wrapper .footer .footer__content .footer__wrapper .footer__main .grid-six {
    grid-area: footer;
  }

  .wrapper .footer .footer__content .footer__wrapper .footer__main .column__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper .footer .footer__content .footer__wrapper .footer__main .column__two .social__link .social__link-list ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrapper .footer .footer__content .footer__wrapper .footer__main .column__two .social__link .social__link-list ul li {
    font-size: 45px;
  }

  .wrapper .footer .footer__content .footer__wrapper .footer__main .column__two li {
    text-align: center;
  }

  .wrapper .footer .footer__content .footer__wrapper .footer__main-column {
    padding: 10px;
  }
}

@media (max-width: 420.98px) {
  .wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide .advantages-slider__item .slider-spoiler__item {
    padding: 0 20px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide .advantages-slider__item .slider-spoiler__item .spoiler__title-slider h2 {
    width: 100%;
    max-width: 220px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
  }

  .wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide .advantages-slider__item .slider-spoiler__item .spoiler__info {
    font-size: 14px;
    width: 100%;
    padding: 10px 0 0 0;
    max-width: 350px;
    text-align: center;
  }
}

.webp .wrapper .main .slider{ background: url(../img/ornella.webp); }

.webp .wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide .-one{ background: url(../img/slide__one.webp) center; }

.webp .wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide .-two{ background: url(../img/slide__two.webp) center; }

.webp .wrapper .main .advantages .advantages__slider .advantages-slider .advantages-slider__wrapper .advantages-slider__slide .-three{ background: url(../img/slide__three.webp) center; }

.webp .wrapper .main .category .category__shop-element .element__wrapper-one{ background: url(../img/shop__item-one.webp) center; }

.webp .wrapper .main .category .category__shop-element .element__wrapper-two{ background: url(../img/shop__item-two.webp) center; }

.webp .wrapper .main .category .category__shop-element .element__wrapper-three{ background: url(../img/shop__item-three.webp) center; }

.webp .wrapper .main .category .category__shop-element .element__wrapper-four{ background: url(../img/shop__item-four.webp) center; }

.webp .wrapper .main .category .category__shop-element .element__wrapper-five{ background: url(../img/shop__item-five.webp) center; }

.webp .wrapper .main .category .category__shop-element .element__wrapper-six{ background: url(../img/shop__item-six.webp) center; }

.webp .wrapper .footer .footer__content .footer__body{ background: url(../img/footer__background.webp) center no-repeat; }