html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

table {
  border-collapse: collapse;
  border-spacing: 2;
}

button:focus {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'PT Sans Caption', sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: black;
}

.wrapper .main {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.wrapper .main .business {
  background-image: url(/img/header.png);
  width: 100%;
  max-width: 1500px;
  height: 810px;
}

.wrapper .main .business .business__content {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.wrapper .main .business .business__content .business__title {
  text-align: center;
  color: white;
  display: inline-block;
  margin-top: 15%;
}

.wrapper .main .business .business__content .business__title h1 {
  font-size: calc(22px + 26 * ((100vw - 320px) / 1180));
}

.wrapper .main .business .business__content .business__title p {
  margin-top: 2%;
  font-size: calc(16px + 8 * ((100vw - 320px) / 1180));
}

.wrapper .main .business .business__column {
  margin-top: 5%;
}

.wrapper .main .business .business__column .business__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .main .business .business__column .business__row .row__item {
  color: white;
  text-align: center;
  border: 2px solid #f2f1f3;
  border-radius: 5px;
  padding: 15px;
  min-width: 260px;
}

.wrapper .main .business .business__column .business__row .row__item h2 {
  font-size: calc(22px + 26 * ((100vw - 320px) / 1180));
}

.wrapper .main .business .business__column .business__row .row__item p {
  font-size: calc(12px + 6 * ((100vw - 320px) / 1180));
}

.wrapper .main .header .header__content .menu {
  width: 100%;
  background-color: white;
}

.wrapper .main .header .header__content .menu .menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0 15px 0;
  border-bottom: 2px solid #adadad;
}

.wrapper .main .header .header__content .menu .menu__nav .nav__link {
  font-size: calc(18px + 12 * ((100vw - 320px) / 1180));
  color: black;
  padding: 0 10px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.wrapper .main .header .header__content .menu .menu__nav .nav__link:hover {
  color: red;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.wrapper .main .header .header__content .menu .menu__nav .nav__link-active {
  color: #f6ae48;
}

.wrapper .main .information {
  background-color: white;
}

.wrapper .main .information .information__title {
  padding: 100px 0 0 0;
  margin: 0 auto;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .information .information__title .title {
  -webkit-box-flex: 28%;
      -ms-flex: 28%;
          flex: 28%;
}

.wrapper .main .information .information__title .title h2 {
  font-size: calc(28px + 20 * ((100vw - 320px) / 1180));
  margin-top: 8%;
}

.wrapper .main .information .information__title .sub__title {
  -webkit-box-flex: 72%;
      -ms-flex: 72%;
          flex: 72%;
}

.wrapper .main .information .information__title .sub__title p {
  font-size: calc(16px + 4 * ((100vw - 320px) / 1180));
  font-weight: 400;
}

.wrapper .main .information .information__row {
  max-width: 1240px;
  height: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .information .information__row .row__item {
  width: 400px;
  height: 300px;
  margin-top: 10%;
  padding: 5px 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.wrapper .main .information .information__row .row__item img {
  padding: 5px 0 0 0;
  height: 50px;
}

.wrapper .main .information .information__row .row__item h2 {
  padding: 10px 0 0 0;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1180));
}

.wrapper .main .information .information__row .row__item p {
  padding: 10px 0 20px 0;
  font-size: calc(10px + 4.5 * ((100vw - 320px) / 1180));
}

.wrapper .main .information .information__row .row__item .row__btn {
  background-color: white;
  border: 3px solid black;
  color: black;
  padding: 15px;
  border-radius: 5px;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1180));
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  font-family: 'Exo 2';
}

.wrapper .main .information .information__row .row__item .row__btn:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #f6ae48;
  color: white;
  border: 3px solid white;
}

.wrapper .main .information .information__row .row__item:hover {
  background-color: #f6ae48;
  color: white;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}

.wrapper .main .company {
  width: 100%;
  background-image: url(/img/company__fon.png);
  height: 600px;
}

.wrapper .main .company .company__title {
  text-align: center;
  color: white;
}

.wrapper .main .company .company__title h2 {
  font-size: calc(30px + 20 * ((100vw - 320px) / 1180));
  font-family: 'Exo 2';
  font-weight: 700;
  padding: 120px 0 0 0;
}

.wrapper .main .company .company__title p {
  font-size: calc(18px + 6 * ((100vw - 320px) / 1180));
  margin-top: 3%;
}

.wrapper .main .develop {
  background-color: white;
  height: 1080px;
  position: relative;
}

.wrapper .main .develop .develop__image {
  position: relative;
  top: -70px;
}

.wrapper .main .develop .develop__image h2 {
  position: absolute;
  color: white;
  top: 120px;
  left: 140px;
  font-size: calc(30px + 20 * ((100vw - 320px) / 1180));
  font-family: 'Exo 2';
}

.wrapper .main .develop .develop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 170px;
}

.wrapper .main .develop .develop__row .develop__item {
  margin: 0 15px;
  padding: 50px 20px 0 20px;
  width: 360px;
  height: 305px;
}

.wrapper .main .develop .develop__row .develop__item h2 {
  height: 120px;
  font-weight: 700;
  font-family: 'Exo 2';
  letter-spacing: 2px;
  min-height: 100px;
  max-height: 145px;
  color: white;
  text-transform: uppercase;
  font-size: calc(16px + 34 * ((100vw - 320px) / 1180));
  border-bottom: 2px solid grey;
}

.wrapper .main .develop .develop__row .develop__item .btn__one {
  margin-top: 5%;
  font-size: calc(12px + 12 * ((100vw - 320px) / 1180));
  padding: 10px;
  background: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Merid Ppo';
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.wrapper .main .develop .develop__row .develop__item .color-one {
  border: 4px solid #00b9e7;
}

.wrapper .main .develop .develop__row .develop__item .color-one:hover {
  border: 4px solid white;
  color: #00b9e7;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.wrapper .main .develop .develop__row .develop__item .color-two {
  border: 4px solid #f6ae48;
}

.wrapper .main .develop .develop__row .develop__item .color-two:hover {
  border: 4px solid white;
  color: #f6ae48;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.wrapper .main .develop .develop__row .develop__item .color-three {
  border: 4px solid #66bf0d;
}

.wrapper .main .develop .develop__row .develop__item .color-three:hover {
  border: 4px solid white;
  color: #66bf0d;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.wrapper .main .develop .develop__row .fon-item-one {
  background-image: url(/img/fon__item__one.png);
  margin: 0 0 0 190px;
}

.wrapper .main .develop .develop__row .fon-item-two {
  background-image: url(/img/fon__item__two.png);
}

.wrapper .main .develop .develop__row .fon-item-three {
  background-image: url(/img/fon__item__three.png);
}

.wrapper .main .develop .develop__search {
  padding: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .develop .develop__search .search__info {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  margin-left: 5%;
  margin-right: 5%;
}

.wrapper .main .develop .develop__search .search__info h2 {
  font-size: calc(24px + 12 * ((100vw - 320px) / 1180));
  letter-spacing: 2px;
}

.wrapper .main .develop .develop__search .search__info p {
  font-size: calc(18px + 6 * ((100vw - 320px) / 1180));
  font-family: 'Arial';
  letter-spacing: 2px;
  line-height: 40px;
  margin-top: 4%;
}

.wrapper .main .develop .develop__search .search__image {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .main .project {
  background-color: white;
  max-height: 1050px;
}

.wrapper .main .project .project__header {
  height: 160px;
  width: 100%;
  background-color: #303263;
  position: relative;
}

.wrapper .main .project .project__header .fon {
  font-weight: 900;
  color: white;
  font-size: calc(30px + 50 * ((100vw - 320px) / 1180));
  position: absolute;
  top: 20px;
  left: 30%;
  opacity: 40%;
}

.wrapper .main .project .project__header .h2 {
  padding: 45px 0 0 0;
  font-weight: 700;
  color: white;
  font-size: calc(20px + 16 * ((100vw - 320px) / 1180));
  text-align: center;
}

.wrapper .main .project .project__gallery .gallry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 -4px 0;
}

.wrapper .main .project .project__gallery .gallry img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper .main .project .project__gallery .gallry__two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 -4px 0;
}

.wrapper .main .project .project__gallery .gallry__two img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper .main .project .project__footer {
  height: 150px;
  width: 100%;
  background-color: #303263;
  text-align: center;
}

.wrapper .main .project .project__footer .btn__project {
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Exo 2';
  background-color: #6a6b8e;
  color: white;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: calc(20px + 10 * ((100vw - 320px) / 1180));
  margin-top: 2.5%;
  cursor: pointer;
}

.wrapper .main .project .project__footer .btn__project:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: white;
  color: #6a6b8e;
}

.wrapper .main .adaptive {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.wrapper .main .adaptive .adaptive__info {
  width: 100%;
  position: relative;
  padding: 100px 0 0 0;
  margin-left: 5%;
}

.wrapper .main .adaptive .adaptive__info .fon__text {
  font-family: 'Exo 2';
  font-weight: 900;
  color: grey;
  font-size: calc(30px + 36 * ((100vw - 320px) / 1180));
  position: absolute;
  top: 70px;
  left: 30px;
  opacity: 25%;
  text-transform: uppercase;
}

.wrapper .main .adaptive .adaptive__info .text {
  margin-left: 5%;
  font-size: calc(20px + 16 * ((100vw - 320px) / 1180));
}

.wrapper .main .adaptive .adaptive__info p {
  margin-left: 5%;
  font-weight: 400;
  font-size: calc(18px + 4 * ((100vw - 320px) / 1180));
  line-height: 35px;
}

.wrapper .main .adaptive .adaptiv__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5%;
  padding: 70px;
}

.wrapper .main .adaptive .adaptiv__photo .img__adaptive {
  margin: 120px 50px 0 20px;
}

.wrapper .main .trade {
  background: url(/img/trade__fon.png);
  width: 100%;
  height: 660px;
}

.wrapper .main .trade .trade__content .trade__logo {
  text-align: center;
}

.wrapper .main .trade .trade__content .trade__logo h2 {
  display: inline-block;
  margin-top: 2%;
  font-size: calc(24px + 24 * ((100vw - 320px) / 1180));
  color: white;
  font-weight: 700;
  font-family: 'Exo 2';
}

.wrapper .main .trade .trade__content .trade__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .main .trade .trade__content .trade__column .column {
  margin: 50px 20px 0 20px;
}

.wrapper .main .trade .trade__content .trade__column .column .logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .trade .trade__content .trade__column .column .logo__text img {
  height: 50px;
}

.wrapper .main .trade .trade__content .trade__column .column .logo__text h2 {
  margin: 10px 0 0 10px;
  font-size: calc(20px + 10 * ((100vw - 320px) / 1180));
}

.wrapper .main .trade .trade__content .trade__column .column p {
  line-height: 30px;
  font-weight: 400;
  font-family: 'Arial';
  font-size: calc(10px + 8 * ((100vw - 320px) / 1180));
}

.wrapper .main .trade .trade__content .trade__btn {
  text-align: center;
  margin-top: 3%;
}

.wrapper .main .trade .trade__content .trade__btn .btn_two {
  font-weight: 400;
  font-family: 'Exo 2';
  font-size: calc(18px + 6 * ((100vw - 320px) / 1180));
  background-color: #f6ae48;
  color: white;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
  border: none;
  padding: 15px;
  cursor: pointer;
}

.wrapper .main .trade .trade__content .trade__btn .btn_two:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: white;
  color: #f6ae48;
}

.wrapper .main .information__text {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.wrapper .main .information__text .info__title {
  width: 100%;
  position: relative;
  padding: 100px 0 0 0;
  margin-left: 5%;
}

.wrapper .main .information__text .info__title .title__above {
  font-family: 'Exo 2';
  font-weight: 900;
  color: grey;
  font-size: calc(30px + 36 * ((100vw - 320px) / 1180));
  position: absolute;
  top: 70px;
  left: 0;
  opacity: 20%;
  text-transform: uppercase;
}

.wrapper .main .information__text .info__title .title__sub {
  margin-left: 5%;
  font-size: calc(20px + 16 * ((100vw - 320px) / 1180));
}

.wrapper .main .information__text .info__title p {
  margin-left: 5%;
  font-weight: 400;
  font-size: calc(18px + 4 * ((100vw - 320px) / 1180));
  line-height: 35px;
}

.wrapper .main .information__text .info__photo img {
  margin: 0 80px 0 0;
}

.wrapper .footer {
  background-image: url(/img/footer__fon.png);
  height: 560px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .footer .footer__content {
  color: #fff;
  margin-left: 9%;
  margin-top: 9%;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.wrapper .footer .footer__content h2 {
  font-size: calc(20px + 10 * ((100vw - 320px) / 1180));
  font-family: 'Exo 2';
  font-weight: 400;
}

.wrapper .footer .footer__content p {
  margin-top: 5%;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1180));
  line-height: 25px;
}

.wrapper .footer .footer__forms {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin-top: 8%;
  margin-right: 5%;
  width: 100%;
  max-width: 600px;
}

.wrapper .footer .footer__forms form .form__input .form__style {
  border: 4px solid white;
  color: white;
  background: transparent;
  font-weight: 400;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1180));
  margin: 0 -5px 0 0;
  padding: 10px;
  width: 50.05%;
}

.wrapper .footer .footer__forms form .form__input .form__style__email {
  margin: 0;
  width: 100%;
}

.wrapper .footer .footer__forms form .form_msg {
  position: relative;
}

.wrapper .footer .footer__forms form .form_msg .form__style {
  border: 4px solid white;
  color: white;
  background: transparent;
  font-weight: 400;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1180));
  margin: 0;
  padding: 10px;
  min-height: 60px;
  max-height: 190px;
  width: 100%;
}

.wrapper .footer .footer__forms form .form_msg .form__btn {
  margin-top: 5%;
  position: absolute;
  right: 0;
  padding: 12px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Exo 2';
  font-size: calc(16px + 4 * ((100vw - 320px) / 1180));
  background-color: #f6ae48;
  color: white;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.wrapper .footer .footer__forms form .form_msg .form__btn:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: white;
  color: #f6ae48;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

@media (max-width: 1329.98px) {
  .wrapper .main .develop .develop__row .fon-item-one {
    margin: 0 0 0 60px;
  }
}

@media (max-width: 1199.98px) {
  .wrapper .main .business {
    height: 610px;
  }

  .wrapper .main .business .business__content .business__title {
    margin-top: 10%;
    width: 100%;
  }

  .wrapper .main .business .business__content .business__title h2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrapper .main .business .business__content .business__column {
    width: 80%;
    margin: 0 auto;
  }

  .wrapper .main .business .business__content .business__column .business__row {
    margin-top: 5%;
  }

  .wrapper .main .information .information__title .title {
    margin-left: 3%;
  }

  .wrapper .main .develop .develop__image {
    background-image: url(/img/develop__two.png);
    position: static;
    opacity: 80%;
    height: 500px;
  }

  .wrapper .main .develop .develop__image h2 {
    text-align: center;
    position: static;
    padding: 30px 0 0 0;
  }

  .wrapper .main .develop .develop__image img {
    display: none;
  }

  .wrapper .main .develop .develop__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    top: 130px;
  }

  .wrapper .main .develop .develop__row .fon-item-one {
    margin: 0 10px 0 40px;
    width: 30%;
    margin: 0 15px 0 0;
  }

  .wrapper .main .develop .develop__row .fon-item-two {
    margin: 0 0 0 40px;
    width: 30%;
    margin: 0 15px 0 0;
  }

  .wrapper .main .develop .develop__row .fon-item-three {
    margin: 0 10px 0 40px;
    width: 30%;
    margin: 0;
  }

  .wrapper .main .adaptive .adaptive__info {
    margin-left: 0;
  }

  .wrapper .main .adaptive .adaptiv__photo {
    margin-right: 0;
    padding: 40px;
  }

  .wrapper .main .trade {
    height: 550px;
  }

  .wrapper .main .trade .trade__content .trade__column .column p {
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 12px;
  }

  .wrapper .main .information__text .info__title {
    margin-left: 0;
  }

  .wrapper .footer {
    height: 400px;
  }

  .wrapper .footer .footer__forms form .form_msg .form__style {
    max-height: 130px;
  }
}

@media (max-width: 1000px) {
  .wrapper .main .header .header__content .menu .menu__nav {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .wrapper .main .business {
    height: 650px;
  }

  .wrapper .main .business .business__content .business__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 35%;
    margin: 0 auto;
  }

  .wrapper .main .business .business__content .business__row .row__item {
    margin: 20px 0 0 0;
  }

  .wrapper .main .information {
    height: 900px;
  }

  .wrapper .main .information .information__title {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-left: 0;
  }

  .wrapper .main .information .information__title .title h2 {
    margin-top: 5%;
  }

  .wrapper .main .information .information__title .sub__title {
    margin-top: 2%;
  }

  .wrapper .main .information .information__row {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
        grid-template-areas: "item__grid1 item__grid2" "item__grid3 item__grid3";
    width: 98%;
  }

  .wrapper .main .information .information__row .item__grid1 {
    grid-area: item__grid1;
    margin: 0 auto;
  }

  .wrapper .main .information .information__row .item__grid2 {
    grid-area: item__grid2;
    margin: 0 auto;
  }

  .wrapper .main .information .information__row .item__grid3 {
    grid-area: item__grid3;
    margin: 0 auto;
  }

  .wrapper .main .information .information__row .row__item {
    margin-top: 4%;
    padding: 0;
    width: 80%;
    text-align: center;
  }

  .wrapper .main .company {
    height: 500px;
  }

  .wrapper .main .develop .develop__search {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0 0 0;
    text-align: center;
  }

  .wrapper .main .develop .develop__search .search__image {
    margin-top: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrapper .main .project .project__header {
    height: 100px;
  }

  .wrapper .main .project .project__header .fon {
    left: 30%;
    opacity: 25%;
  }

  .wrapper .main .project .project__footer {
    height: 100px;
  }

  .wrapper .main .project .project__footer .btn__project {
    margin-top: 1.5%;
  }

  .wrapper .main .adaptive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper .main .adaptive .adaptive__info {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 0 0 0;
  }

  .wrapper .main .adaptive .adaptive__info .fon__text {
    left: 40%;
    top: 40px;
  }

  .wrapper .main .adaptive .adaptiv__photo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrapper .main .trade {
    height: 670px;
  }

  .wrapper .main .trade .trade__content .trade__logo h2 {
    margin-top: 1%;
  }

  .wrapper .main .trade .trade__content .trade__column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
        grid-template-areas: "colulm__item1 colulm__item2" "colulm__item3 colulm__item3";
  }

  .wrapper .main .trade .trade__content .trade__column .column {
    margin: 20px 20px 0 20px;
    text-align: center;
  }

  .wrapper .main .trade .trade__content .trade__column .column .logo__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrapper .main .trade .trade__content .trade__column .column p {
    line-height: 20px;
  }

  .wrapper .main .trade .trade__content .trade__column .colulm__item3 {
    grid-area: colulm__item3;
    margin: 0 200px;
  }

  .wrapper .main .trade .trade__content .trade__btn {
    margin-top: 2%;
  }

  .wrapper .main .information__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper .main .information__text .info__title {
    text-align: center;
  }

  .wrapper .main .information__text .info__title .title__above {
    left: 40%;
  }

  .wrapper .main .information__text .info__photo {
    text-align: center;
    margin-left: 12%;
  }

  .wrapper .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 500px;
  }

  .wrapper .footer .footer__content {
    margin-top: 2%;
    margin-left: 0;
    text-align: center;
  }

  .wrapper .footer .footer__forms {
    margin-top: 2%;
    margin: 0 auto;
  }

  .wrapper .footer .footer__forms form .form_msg .form__btn {
    right: 40%;
  }
}

@media (max-width: 991.98px) {

  .wrapper .main .trade .trade__content .trade__column .colulm__item3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

@media (max-width: 991.98px) {

  .wrapper .main .information .information__row .item__grid1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .wrapper .main .information .information__row .item__grid2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .wrapper .main .information .information__row .item__grid3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

@media (max-width: 830px) {
  .wrapper .main .information {
    height: 900px;
  }

  .wrapper .main .information .information__row .row__item {
    height: 300px;
  }

  .wrapper .main .information .information__row .item__grid3 {
    height: 270px;
    width: 50%;
  }
}

@media (max-width: 767.98px) {
  .wrapper .main .business .business__content .business__title {
    width: 98%;
    margin: 0 auto;
    display: block;
    padding: 50px 0 0 0;
  }

  .wrapper .main .business .business__content .business__column .business__row {
    width: 70%;
  }

  .wrapper .main .information {
    height: 1000px;
  }

  .wrapper .main .information .information__row {
    display: block;
  }

  .wrapper .main .information .information__row .row__item {
    margin-top: 1%;
    height: 250px;
    width: 70%;
  }

  .wrapper .main .company .company__title {
    width: 98%;
    margin: 0 auto;
  }

  .wrapper .main .develop {
    height: 1500px;
  }

  .wrapper .main .develop .develop__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
        grid-template-areas: "fon-item-one fon-item-two" "fon-item-three fon-item-three";
  }

  .wrapper .main .develop .develop__row .develop__item {
    margin: 10px auto;
    padding: 30px 10px 0 10px;
  }

  .wrapper .main .develop .develop__row .fon-item-one {
    width: 95%;
    grid-area: fon-item-one;
  }

  .wrapper .main .develop .develop__row .fon-item-two {
    width: 95%;
    grid-area: fon-item-two;
  }

  .wrapper .main .develop .develop__row .fon-item-three {
    width: 70%;
    height: 250px;
    grid-area: fon-item-three;
    margin: o auto;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrapper .main .develop .develop__search {
    margin-top: 50%;
  }

  .wrapper .main .project .project__gallery .gallry__two {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .wrapper .main .project .project__gallery .gallry__two .photo__five {
    margin: -4px 0 0 1px;
  }

  .wrapper .main .project .project__gallery .gallry__two .photo__six {
    margin: -4px 0 0 0;
  }

  .wrapper .main .trade {
    height: 670px;
  }

  .wrapper .main .trade .trade__content .trade__column {
    display: block;
  }

  .wrapper .main .trade .trade__content .trade__column .column {
    margin: 20px 20px 0 20px;
  }

  .wrapper .main .trade .trade__content .trade__column .column p {
    font-size: 12px;
  }

  .wrapper .main .information__text .info__photo {
    margin-left: 0;
  }

  .wrapper .main .information__text .info__photo img {
    max-width: 100%;
    margin: 0;
  }

  .wrapper .footer {
    height: 550px;
  }

  .wrapper .footer .footer__content {
    max-height: 210px;
  }

  .wrapper .footer .footer__forms form .form__input {
    text-align: center;
  }

  .wrapper .footer .footer__forms form .form__input .form__style {
    border: none;
    margin: 0 20px 20px;
    border-bottom: 4px solid white;
    width: 250px;
  }

  .wrapper .footer .footer__forms form .form__input .form__style__email {
    width: 420px;
  }

  .wrapper .footer .footer__forms form .form_msg .form__style {
    display: block;
    margin: 0 auto;
    width: 45%;
    border: none;
    border-bottom: 4px solid white;
  }

  .wrapper .footer .footer__forms form .form_msg .form__btn {
    margin-top: 2%;
  }
}

@media (max-width: 767.98px) {

  .wrapper .main .develop .develop__row .fon-item-one {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .wrapper .main .develop .develop__row .fon-item-two {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .wrapper .main .develop .develop__row .fon-item-three {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

@media (max-width: 575.98px) {
  .wrapper .main .business .business__content .business__column {
    width: 100%;
  }

  .wrapper .main .business .business__content .business__column .business__row {
    width: 80%;
  }

  .wrapper .main .information {
    height: 1050px;
  }

  .wrapper .main .information .information__row .row__item {
    width: 90%;
  }

  .wrapper .main .develop .develop__row {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper .main .develop .develop__row .develop__item {
    width: 60%;
    height: 220px;
  }

  .wrapper .main .develop .develop__row .develop__item h2 {
    min-height: auto;
    height: 70px;
  }

  .wrapper .main .develop .develop__row .develop__item .btn__one {
    font-size: 20px;
    font-weight: 700;
  }

  .wrapper .main .develop .develop__search {
    margin-top: 100%;
  }

  .wrapper .main .develop .develop__search .search__info p {
    line-height: 25px;
  }

  .wrapper .main .develop .develop__search .search__image img {
    max-width: 150px;
  }

  .wrapper .main .adaptive .adaptive__info {
    width: 98%;
    margin: 0 auto;
  }

  .wrapper .main .adaptive .adaptive__info .fon__text {
    left: 35%;
  }

  .wrapper .main .adaptive .adaptive__info p {
    margin-left: 0;
  }

  .wrapper .main .adaptive .adaptiv__photo .img__adaptive {
    display: none;
  }

  .wrapper .main .trade {
    height: 675px;
    background-size: cover;
  }

  .wrapper .main .trade .trade__content .trade__column .column {
    margin: 5px 5px 0 5px;
  }

  .wrapper .main .trade .trade__content .trade__column .column p {
    font-size: 10px;
  }

  .wrapper .main .trade .trade__content .trade__column .column .logo__text img {
    height: 30px;
  }

  .wrapper .main .information__text .info__title .title__above {
    left: 30%;
    top: 80px;
  }

  .wrapper .footer .footer__forms form .form__input .form__style {
    width: 240px;
  }

  .wrapper .footer .footer__forms form .form__input .form__style__email {
    width: 240px;
  }

  .wrapper .footer .footer__forms form .form_msg .form__style {
    width: 240px;
  }
}

.webp .wrapper .main .business { background-image: url(/img/header.webp); }

.webp .wrapper .main .company { background-image: url(/img/company__fon.webp); }

.webp .wrapper .main .develop .develop__row .fon-item-one { background-image: url(/img/fon__item__one.webp); }

.webp .wrapper .main .develop .develop__row .fon-item-two { background-image: url(/img/fon__item__two.webp); }

.webp .wrapper .main .develop .develop__row .fon-item-three { background-image: url(/img/fon__item__three.webp); }

.webp .wrapper .main .trade { background: url(/img/trade__fon.webp); }

.webp .wrapper .footer { background-image: url(/img/footer__fon.webp); }

@media (max-width: 1199.98px) {

  .webp .wrapper .main .develop .develop__image { background-image: url(/img/develop__two.webp); }
}